@import "asciidoctor";
@import "settings/dunaj";
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

code, kbd, pre, samp, pre > code {
  font-family:  "Source Code Pro", "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
}

html, body, .article, #content {
  width:100%;
  max-width: none;
}

h1 {
  color:#7a2518 !important; 
  margin-top:0.5em !important;
}

.dd-refered {
  font-weight:600;
}

.dd-added {
  position:relative;
  float:right;
  top:-3em;
  color:#999;
}

.dd-var {
  border-top:1px solid #eee;
}

.dd-usage > dl {
  display:flex;
  margin-bottom:0px;
}

.dd-usage li {
  list-style-type:none;
}

.dd-example-check ~ .listingblock {
  display:none;
}

.dd-example-check:checked ~ .listingblock {
  display:block;
}

.dd-example-label {
  display:inline-block;
  padding-bottom:1em;
  color:#2156A5;
  text-decoration:underline;
  cursor: pointer;
}

.dd-example-check:checked + .dd-example-label:before {
  content:"Hide ";
}

.dd-example-check + .dd-example-label:before {
  content:'Show ';
}

input.dd-example-check[type="checkbox"] {
  display:none;
  padding-right:0.5em;
  margin-right:0.5em;
}

.dd-usage dd {
  margin-left:0.5em;
}

.dd-usage ul {
  margin:0;
}

.ddd-usage dd {
  border:1px solid cyan;
  display:inline-block;
}

.dd-usage dt {
  font-weight:400;
}

.dd-mmsh {
  color:#bbb;
}

.dd-vn {
  visibility:hidden;
}

.dd-mmcur {
  dfont-weight: 600;
  background-color:#ccc;
  color:#7a2518 !important; 
  border-left:2px solid #bbb;
  bdorder-right:1px solid #bbb;
  padding-left:0.5em;
  padding-right:0.5em;
  margin:0px;
  dpadding-top:7px;
  dpadding-bottom:7px;
}

#dd-mmenu {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  dfont-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-size:16px;
  height:30px;
  margin:auto;
  dmargin-top: auto;
  dmargin-bottom: auto;
  margin-right:0.5em;
  padding:0;
}

a.link {
  padding-top:1em;
}

.dd-nav-ns-header {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  margin-top:0.5em;
  margin-bottom:1em;
  margin-left:0.5em;
  padding-top:0.5em;
  padding-right:0.5em;
}

.dd-nav-ns-header a {
  font-size:18px;
  dtext-decoration: none;
  dcolor: rgba(0, 0, 0, 0.8);
  color: #BA3925;
  text-decoration: none;
  font-weight:600;
}

.dd-nav-doc-header {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  padding:0.5em;
  padding-top:1em;
}

.dd-nav-doc-header a {
  font-weight: 600;
  font-size:18px;
  color: #BA3925;
  text-decoration: none;
}

.dd-nav-ns-group {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  margin-top:1em;
  margin-left:0.5em;
  padding-right:0.5em;
}

.dd-nav-ns-group a {
  font-size:18px;
  color: #7a2518;
  text-decoration: none;
}

.dd-nav-doc-group {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-right:0.5em;
  padding-left:0.5em;
  margin:0px !important;
}

.dd-nav-doc-group a {
  font-size:18px;
  color: #7a2518;
  text-decoration: none;
}

.dd-nav-doc-ns {
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-right:1.5em;
  padding-left:0.5em;
  margin:0px !important;
  white-space:nowrap;
}

.dd-nav-doc-ns a:hover {
  color:#1d4b8f;
  text-decoration:underline;
}

.dd-nav-doc-item-0 {
  font-weight: 600;
}

.dd-nav-doc-item-cur {
  font-weight: 600;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  background-color:#ccc;
}

.dd-nav-doc-item-1 {
  padding-left:1.0em;
}

.dd-nav-doc-item-2 {
  padding-left:2em;
  font-style: italic;
  padding-top:0.2em;
  padding-bottom:0.2em;
}

.dd-nav-doc-item-3 {
  padding-left:2.5em;
  font-style: italic;
}

.dd-nav-doc-ns a {
  font-size:16px;
  color: #7a2518;
  text-decoration: none;
  white-space:nowrap;
}

.dd-nav-doc-item-2 a {
  font-size:14px !important;
}

.dd-nav-ns-var {
  dfont-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
  margin-top:0.5em;
  margin-left:0em;
  padding-right:1em;
  padding-left:0.5em;
}

.dd-nav-ns-var-text {
  font-family:  "Source Code Pro", "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
  dfont-family: 'Droid Sans Mono', 'DejaVu Sans Mono', monospace;
}

.dd-nav-ns-var a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  white-space:nowrap;
}

.dd-nav-ns-var:hover i {
  color:#1d4b8f;
}

.dd-nav-ns-var:hover .dd-vn {
  visibility:visible;
}

.dd-nav-ns-var:hover a {
  color:#1d4b8f;
}

.dd-nav-ns-header:hover a {
  color:#1d4b8f;
  text-decoration: underline;
}

.dd-nav-ns-group:hover a {
  color:#1d4b8f;
  text-decoration: underline;
}

.dd-nav-doc-header a:hover {
  color:#1d4b8f;
  text-decoration: underline;
}

.dd-nav-doc-group a:hover {
  color:#1d4b8f;
  text-decoration: underline;
}

.dd-nav-doc-cur {
  font-weight: 600;
  dbackground-color:white;
  color:#7a2518 !important; 
  bdorder-left:5px solid #bbb;
  dborder-top:1px solid #bbb;
  dborder-bottom:1px solid #bbb;
}


.dd-mmlink {
  color:#235;
  line-height:30px;
  text-decoration:none;
  padding-left:0.5em;
  padding-right:0.5em;
  border-left:1px solid #bbb;
  height:30px;
  margin:auto;
  display:inline-block;
}

.dd-mmlink:hover > i {
  color:#1d4b8f;
}

.dd-mmlink:hover {
  color:#1d4b8f !important;
}

#dd-logo {
  dfont-family: 'Merriweather', serif;
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-size:28px;
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 3px;
}

#dd-logo img {
  height:28px;
  margin-left:0.3em;
  margin-right:0.3em;
  margin-top: 0px;
  margin-bottom: 3px;
}

#dd-logo a {
  color:#235;
  text-decoration: none;  
}

#dd-logo a:hover  {
  color:#1d4b8f;
  text-decoration: underline;
}

#dd-logo a:hover:after  {
  content: '.org';
  text-decoration: underline;
}

#dd-header {
  height: 40px;
  width:100%;
  background-color:#eee;
  flex: 1;
  display: flex;
  justify-content: space-between;
  color:black;
  border-bottom:1px solid #aaa;
}

#header {
  max-width: none;
  padding-left:0em;
}

#dd-flex {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

#preamble {
  padding-top:2em;
}

#dd-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#dd-content > .dd-over {
  padding:2em;
}

#dd-doc-nav {
  display: flex;
  background-color:#ddd;
  dbackground-color:#eee;
  flex-direction: column;
}

#dd-ns-nav {
  display: flex;
  flex-direction: column;
  background-color:#eee;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
}

.dd-over {
  overflow-y: auto;
  padding:0em;
}

.article > #header {display:none;}
#footer {display:none;}

#content {
  position:static;
  padding:0px;
  margin:0px;
}

.article {
  position:static;
  padding:0px;
  margin:0px;
}

table.CodeRay pre span.keyword, table pre.CodeRay span.keyword {
  color:rgb(11, 110, 11);
}

table.CodeRay pre span.comment, table pre.CodeRay span.comment {
  color:#ba3925;
}

